<div class="converter-container">
    <div [formGroup]="convertCurrencyGroup">

            <h2 class="headline-text">currency converter</h2>

            <div class="converter-inputs-container">
                <input 
                class="input-field" 
                type="number" 
                formControlName="amount" 
                limit-to="15" 
                min="0" 
                (change)="submitCurrency()" 
                (keyup.enter)="submitCurrency()" 
                onClick="this.select();" 
                [ngStyle]="!convertCurrencyGroup.valid ? {'outlineColor': 'red'} : {}">
    
                <label for="from-select">from:</label>
    
                    <select class="input-field currency-select" name="from-currencies" required formControlName="from" (ngModelChange)="submitCurrency()">
                        <option 
                        *ngFor="let currency of currencies" value="{{currency.currency}}">
                            {{currency.currency}}
                        </option>
                    </select>
    
                <label for="to-select">to:</label>
    
                <select class="input-field currency-select" name="to-currencies" required formControlName="to" (ngModelChange)="submitCurrency()">
                    <option 
                    *ngFor="let currency of currencies" value="{{currency.currency}}">
                        {{currency.currency}}
                    </option>
                </select>
            </div>

            <div *ngIf="isSubmittimg" class="progress-bar-container">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
            <h4 *ngIf="result && result.result && !isSubmittimg" class="conversion-result">{{result.amount | currency: (result.from || ''):'symbol-narrow':'1.2-2'}} = {{result.result.toString()| currency: (result.to || ''):'symbol-narrow':'1.2-2'}}</h4>
    </div>
</div>
